$color-one: #273c75;
$color-two: #dcdde1;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	background: $color-one;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 60vh;
	width: 70vw;
	max-width: 1000px;
	border-radius: 10px;
	background: $color-two;
}

.wrapper {
	display: flex;
	height: 80%;
	width: 80%;

	#buttons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		align-self: flex-end;
		width: 100%;

		button {
			width: 150px;
			height: 50px;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
}
