$color-one: #273c75;
$color-two: #dcdde1;
$color-three: #e84118;
$color-four: #00a8ff;
$rock-color: #c23616;
$paper-color: #fbc531;
$scissors-color: #4cd137;
$reset-color: #40739e;

$option-icon-size: 24px;

$font-one: 'Montserrat', sans-serif;
$font-two: 'Mouse Memoirs', sans-serif;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	background: $color-one;
	font-family: $font-one;
}

.rock {
	color: $rock-color;
	font-weight: bold;
}

.paper {
	color: $paper-color;
	font-weight: bold;
}

.scissors {
	color: $scissors-color;
	font-weight: bold;
}

h1 {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: $font-two;
	font-size: 60px;
	letter-spacing: 5px;
	color: $color-two;
}

.info-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 4em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	height: 55%;
	background: $color-four;
	border-radius: 20px;
	z-index: 2;

	i {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: $option-icon-size;
	}

	h2 {
		font-size: 50px;
		letter-spacing: 4px;
		font-family: $font-two;
	}

	p {
		width: 70%;
		text-align: center;
		font-size: 22px;

		&:last-of-type {
			font-size: 26px;
			font-weight: bold;
		}
	}
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 60vh;
	width: 70vw;
	max-width: 1000px;
	border-radius: 10px;
	background: $color-two;

	.info {
		position: absolute;
		top: 20px;
		right: 20px;

		i {
			font-size: $option-icon-size;
			color: $color-one;
			cursor: pointer;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 80%;
		width: 80%;

		#messages {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			height: 500px;

			div {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40%;
				height: 100px;
				text-transform: uppercase;

				&:last-of-type {
					font-weight: bold;
					font-size: 50px;
					border-bottom: 2px solid black;
					letter-spacing: 4px;
					font-family: $font-two;
				}
			}
		}

		#buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;

			button {
				width: 160px;
				height: 50px;
				font-size: 18px;
				text-transform: uppercase;
				font-family: $font-one;
				background: transparent;
				border: 2px solid transparent;
				transition: all 0.3s;
				cursor: pointer;
			}

			#play-rock {
				color: $rock-color;
				box-shadow: 0 0 7px $rock-color;

				&:hover {
					background: $rock-color;
					color: $color-two;
					letter-spacing: 2px;
				}
			}

			#play-paper {
				color: $paper-color;
				box-shadow: 0 0 7px $paper-color;

				&:hover {
					background: $paper-color;
					color: $color-two;
					letter-spacing: 2px;
				}
			}

			#play-scissors {
				color: $scissors-color;
				box-shadow: 0 0 7px $scissors-color;

				&:hover {
					background: $scissors-color;
					color: $color-two;
					letter-spacing: 2px;
				}
			}

			.reset-btn {
				margin-top: 20px;
				width: 60%;
				color: $reset-color;
				box-shadow: 0 0 7px $reset-color;

				&:hover {
					background: $reset-color;
					color: $color-two;
					letter-spacing: 3px;
				}
			}
		}

		.statistics {
			margin-top: 2em;
			margin-bottom: -3.5em;
			display: flex;
			justify-content: space-between;
			text-align: center;

			p {
				font-weight: bold;
				margin-bottom: 1.5em;
			}
		}
	}
}
