$color-one: #273c75;
$color-two: #dcdde1;
$color-three: #e84118;

$font-one: 'Montserrat', sans-serif;
$font-two: 'Mouse Memoirs', sans-serif;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	background: $color-one;
	font-family: $font-one;
}

h1 {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: $font-two;
	font-size: 60px;
	letter-spacing: 5px;
	color: $color-two;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 60vh;
	width: 70vw;
	max-width: 1000px;
	border-radius: 10px;
	background: $color-two;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
	width: 80%;

	#messages {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		height: 500px;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 200px;
			height: 100px;
			text-transform: uppercase;

			&:last-of-type {
				font-weight: bold;
				font-size: 50px;
				border-bottom: 2px solid black;
				letter-spacing: 4px;
				font-family: $font-two;
			}
		}
	}

	#buttons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;

		button {
			width: 150px;
			height: 50px;
			text-transform: uppercase;
			font-family: $font-one;
			cursor: pointer;
		}
	}
}
